<main>
  {{#if prodAdded}}
    <div class='grid'>
      {{#each prods}}
        <article class='card product-item'>
          <header class='card__header'>
            <h1 class='product__title'>{{this.title}}</h1>
          </header>
          <div class='card__image'>
            <img
              src='https://media.cnn.com/api/v1/images/stellar/prod/191003121459-02-bugatti-chiron-road-trip.jpg?q=x_35,y_626,h_1946,w_3459,c_crop/h_720,w_1280'
              alt='A Book'
            />
          </div>
          <div class='card__content'>
            <h2 class='product__price'>$19.99</h2>
            <p class='product__description'>A very interesting book about so
              many even more interesting things!</p>
          </div>
          <div class='card__actions'>
            <button class='btn'>Add to Cart</button>
          </div>
        </article>
      {{/each}}
    </div>
  {{else}}
    <h1>No products added yet!</h1>
  {{/if}}
</main>